body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
}
.auth-container {
    background-color: rgb(38, 67, 155);
    color: seashell;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
}
.auth-input {
    margin: 10px;
    height:auto;
    padding: 4px;
}
.btn {
    margin: 10px;
    height: auto;
    width: 100 px;
    padding: 4px;
    background-color: white;
    border: none;
}
.profile {
    background-color: rgb(38, 67, 155);
    color: seashell;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 40px;
    text-align: center;
}
.issue-input {
    margin: 10px;
    height: auto;
    width: 100 px;
    padding: 4px;
    background-color: white;
    border: none;
}
.navbar {
    text-align: center;
    padding: 20px;
}
.nav-link {
    color: rgb(38, 67, 155);
    text-decoration: none;
    margin: 20px;
}
a:hover {
    text-decoration: underline;
    font-size: large;
}
.logout-btn {
    margin: 10px;
    height: auto;
    width: 100 px;
    padding: 4px;
    background-color: rgb(38, 67, 155);
    color: white;
    border: none;
    margin-left: 160px;
}
.voteBtn {
    margin: 20px;
    background-color: white;
    border: none;
    height: auto;
}
.deleteBtn {
    background-color: white;
    border: none;
    height: auto;
}
.submitCommentBtn {
    background-color: white;
    border: none;
    height: auto;  
}
.commentForm {
    margin: 20px;
}